<footer>
    <h1>Lorem, ipsum dolor.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quo praesentium perferendis nam, 
        excepturi dignissimos cumque vero aspernatur incidunt velit!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio iste vero fugit. In libero consequatur corrupti 
        sequi quas minus molestias labore. Non voluptate laborum doloribus! Minus est repellendus labore hic nam 
        inventore blanditiis fuga neque, atque quas ut tenetur quae, quam quasi temporibus nulla tempore quaerat 
        molestiae tempora similique suscipit placeat? Iste saepe eveniet voluptatibus? Ab placeat illum quos repellendus
        laborum fuga praesentium veniam sit cumque unde! Quis, provident! Eos magnam dolorum deleniti iure! 
        Id similique aspernatur eveniet animi maxime laborum amet consectetur! Doloremque numquam atque, molestiae 
        dolorem nobis, 
        neque eaque ipsam reprehenderit et quos placeat nostrum debitis dolorum veritatis!
    </p>
</footer>